*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: Noto Sans Mono, sans-serif;
    font-size: 20px;
    line-height: 1;
}
@media screen and (max-width: 767px){
.body {
    font-size: 14px;
}
}

:root{
    --white: #fcfcfd;
    --black: #363738;
    --pink_primary: #fb508e;
    --sef_primary: #28eea7;
    --grey: #a5a6a9;
    --black-2: #232323;
    --daf_primary: #fb4747;
    --background: #f1f2f3;
    --ylw_primary: #ffc635;
    --ppl_primary: #9864da;
    --overlay-black: rgba(35, 35, 35, .9);
    --light_grey: #dcdee1;
    --hrf_primary: #31b7f0;
    --overlay-green: rgba(40, 238, 167, .9);
    --ghost-white: #ecedf3;
    --purple-overlay: rgba(152, 100, 218, .9);
}
.parent {
        height: 100vh;
        min-height: 100%;
        display: flex;
        position: relative;
    }

@media screen and (max-width: 991px){
.parent {
    height: 100%;
    flex-direction: column;
}
}
#overlay {
    background-color: rgba(40, 238, 167, 0.85);
    transition: background-color 400ms ease-in-out;
}
.left .overlay{
    padding-top: 20%;
    background-color: rgba(40, 238, 167, .93);
    background-image: none;
    position: static;
}
.left {
    opacity: 0.8;
    background-size: cover;
    background-image: url(/images/img-1.png); 
    width: 100%;
    height: 100%;
    background-position: 0 0, 50%;
    background-size: auto, cover;
    align-items: center;
    display: flex;
    text-align: end;
}

@media screen and (max-width: 991px){
.left { 
    align-items: flex-end;
    padding-bottom: 0;
}
}
@media screen and (max-width: 991px){
    .right {
        align-items: flex-start;
        padding-top: 0;
        padding-bottom: 120px;
    }
}
.typed_text {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden;
    border-right: 2px solid; /* Create a blinking cursor effect */
    animation: typing 3s steps(40, end) infinite, blink-caret 0.75s infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }

.right {
    padding-top: 10%;
    background-size:cover;
    background-image: url(/images/img-2.png);
    width: 100%;
    height: 100%;
    background-position: 0 0, 50%;
    background-size: auto, cover;
    align-items: center;
    display: flex;

 }
.hero-section-child{
    width: 100%;
    height: 40vh;
    max-height: 100vh;
    max-width: 670px;
    padding-left: 70px;
    padding-right: 50px;
    color: white;
}
.hero-section-child-right {
    width: 100%;
    height: 40vh;
    max-height: 100vh;
    max-width: 670px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 70px;
    padding-right: 50px;
    display: flex;
    color: white;
}

@media screen and (max-width: 767px){
.hero-section-child, .hero-section-child-right {
    padding-left: 40px;
    padding-right: 40px;
}
}
@media screen and (max-width: 991px){
.hero-section-child-right {
    padding-left: 70px;
}
}
.hero-section-child.right {
    color: var(--white);
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 70px;
}

@media screen and (max-width: 991px){
.hero-section-child {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 70px;
}
}
.hero-title-1 {
    text-align: right;
    text-transform: uppercase;
    flex: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
}


@media screen and (max-width: 767px){
.sub-h1-bg {
    font-size: 18px;
}
}
.sub-h1-bg.inverse {
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--black);
}
.sub-h1-bg {
    background-color: var(--black);
    color: var(--white);
    justify-content: flex-end;
    padding:5px 10px ;
    font-size: 24px;
    line-height: 2.5;
    display: inline;
}
@media screen and (max-width: 991px){
hero-description-1 {
    flex: 0 auto;
}
}
.hero-description-1 {
    min-height: 10ch;
    text-align: right;
    flex: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
    text-decoration: none;
    color: #ecedf3;
}

.translucent-button-1.solid-black {
    background-color: var(--overlay-black);
}

.translucent-button-1 {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: rgba(54, 55, 56, .75);
    padding: 15px 20px;
    font-weight: 800;
}
.w-button {
color: #fff;
line-height: inherit;
cursor: pointer;
background-color: #3898ec;
border: 0;
border-radius: 0;
padding: 9px 15px;
text-decoration: none;
display: inline-block;
}
a {
    font-weight: bold;
    color: #28EEA6;
    text-decoration: none;
}
.hero-description-1.inverse {
    text-align: left;
}


.translucent-button-1.solid-green {
    background-color: var(--background);
    color: var(--black);
}

@media screen and (max-width: 767px){
.nav-container {
    padding-left: 40px;
    padding-right: 40px;
    top: 40px;
}
}
.nav-container {
    height: 50px;
    max-width: 1340px;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    position: absolute;
    top: 70px;
    bottom: auto;
    left: 0%;
    right: 0%;
}
@media screen and (max-width: 991px){
.w-container {
    max-width: 728px;
}
}
.w-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
a {
    font-weight: bold;
    color: #28eea7;
    text-decoration: none;
}
.image-6 {
    height: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}

.link-block.w--current {
    width: 45px;
    height: 45px;
    align-self: center;
}
.link-block {
    width: 45px;
    height: 45px;
    background-color: var(--black);
    border-radius: 10px;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-left: auto;
    display: flex;
}
.image {
    width: 36px;
    height: 36px;
    position: static;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
@media screen and (max-width: 991px){
.nav-container .w-container {
   padding-top : 40%;
}
}


@media screen and (max-width: 479px){
.nav-menu-container {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    top: 120px;
}
}
@media screen and (max-width: 767px){
.nav-menu-container {
    flex-direction: column;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    top: 150px;
}
}
.nav-menu-container {
    max-width: 1340px;
    min-height: 500px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 120px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    position: absolute;
    top: 190px;
    bottom: auto;
    left: 0%;
    right: 0%;
}
@media screen and (max-width: 767px){
.div-block {
    align-items: center;
}
}
.div-block {
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    align-items: flex-start;
    display: flex;
}

.link-text-menu-item.w--current {
    color: var(--sef_primary);
}
@media screen and (max-width: 479px){
.link-text-menu-item {
    text-align: center;
}
}
@media screen and (max-width: 991px){
.link-text-menu-item {
    font-size: 20px;
}
}
.link-text-menu-item {
    color: var(--grey);
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}


@media screen and (max-width: 767px){
.login-prompt {
    max-width: 100%;
    margin-top: 40px;
}
}
@media screen and (max-width: 991px){
.login-prompt {
    max-width: 400px;
}
}
.login-prompt {
    width: 100%;
    max-width: 500px;
    grid-row-gap: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    flex-direction: column;
    align-self: stretch;
    display: flex;
}


@media screen and (max-width: 991px){
.login-box-container {
    flex-direction: column;
    padding: 24px;
}
}
.login-box-container {
    height: 100%;
    grid-row-gap: 20px;
    background-color: var(--black);
    border-radius: 20px;
    flex-direction: column;
    flex: 0 auto;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-start;
    padding: 40px;
    font-size: 14px;
    display: flex;
}
.user-acc-parent {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    font-size: 16px;
    display: flex;
}
.link-block{
    z-index: 532143145;
}
@media screen and (max-width: 991px){
.nav-menu-modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
}
@media screen and (max-width: 479px){.nav-container {
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    top: 36px;
}
}
@media screen and (max-width: 767px){
.nav-container {
    padding-left: 40px;
    padding-right: 40px;
    top: 40px;
}
}
.nav-menu-modal {
    z-index: 12;
    height: 100vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(35, 35, 35, .9);
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: scroll;
}
.subsection-h1-title-copy.dark.margin-bottom {
    margin-bottom: 23px;
}
@media screen and (max-width: 479px){
.subsection-h1-title-copy, .subsection-h1-title-copy.dark {
    font-size: 18px;
}
}

@media screen and (max-width: 991px){
.subsection-h1-title-copy.dark {
    text-align: left;
    font-size: 20px;
}
}
.subsection-h1-title-copy.dark {
    color: var(--white);
}
.subsection-h1-title-copy {
    text-align: left;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
}

@media screen and (max-width: 767px){
.hr-mini-banner-container-small {
    flex-direction: column;
}
}
.white-bold.subsection-content-p.big {
    font-size: 16px;
}

@media screen and (max-width: 479px){
.subsection-content-p {
    font-size: 12px;
}
}
.subsection-content-p.margin-bottom {
    margin-bottom: 24px;
}

@media screen and (max-width: 479px){
.subsection-content-p {
    font-size: 12px;
}
}
.subsection-content-p {
    color: var(--grey);
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}


.translucent-button-1.full-width.solid.primary.center.acc-button-id {
    display: none;
    flex: 0 auto;
    margin-top: auto;
}
.translucent-button-1.full-width.solid.primary.center {
    text-align: center;
}
.translucent-button-1.full-width.solid.center {
    text-align: center;
}
.translucent-button-1.full-width.solid.primary {
    background-color: var(--sef_primary);
    color: var(--black);
}
.translucent-button-1.full-width.solid {
    background-color: var(--black-2);
    flex: 1;
}
.translucent-button-1.solid {
    background-color: var(--black);
}
.translucent-button-1.full-width {
    text-align: right;
    align-self: stretch;
    margin-top: auto;
}
.translucent-button-1 {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: rgba(54, 55, 56, .75);
    padding: 15px 20px;
    font-weight: 800;
}
.hr-mini-banner-container-small {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: var(--hrf_primary);
    color: var(--white);
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    position: static;
    top: -10%;
    bottom: auto;
    left: 0%;
    right: 0%;
}
.subsection-content-p.margin-bottom {
    margin-bottom: 24px;
}
@media screen and (max-width: 479px){
.subsection-content-p {
    font-size: 12px;
}
}
.subsection-content-p {
    color: var(--grey);
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.translucent-button-1.solid {
    background-color: var(--black);
}
.translucent-button-1.full-width {
    text-align: right;
    align-self: stretch;
    margin-top: auto;
}
.translucent-button-1 {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: rgba(54, 55, 56, .75);
    padding: 15px 20px;
    font-weight: 800;
}
.translucent-button-1.full-width.solid.primary.center.log-button-id.no {
    flex: 0 auto;
}
.translucent-button-1.full-width.solid.primary.center.log-button-id {
    margin-top: auto;
}
.translucent-button-1.full-width.solid.primary.center {
    text-align: center;
}
.translucent-button-1.full-width.solid.center {
    text-align: center;
}
.translucent-button-1.full-width.solid.white.center.log-button-id.no {
    flex: 0 auto;
}

.translucent-button-1.full-width.solid.white.center.log-button-id {
    margin-top: 10px;
}
.translucent-button-1.full-width.solid.white.center {
    margin-top: 0;
}
.translucent-button-1.full-width.solid.white {
    background-color: var(--white);
    color: var(--black);
}
.translucent-button-1.full-width.solid.center {
    text-align: center;
}
.translucent-button-1.full-width.solid {
    background-color: var(--black-2);
    flex: 1;
}
.translucent-button-1.solid {
    background-color: var(--black);
}
.translucent-button-1.full-width {
    text-align: right;
    align-self: stretch;
    margin-top: auto;
}

@media screen and (max-width: 767px){
.hr-mini-banner-container-small {
    flex-direction: column;
}
}
.hr-mini-banner-container-small {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: var(--hrf_primary);
    color: var(--white);
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    position: static;
    top: -10%;
    bottom: auto;
    left: 0%;
    right: 0%;
}
@media screen and (max-width: 991px){
.image-5 {
    align-self: auto;
}
}
.image-5 {
    align-self: flex-start;
}
@media screen and (max-width: 991px){
.div-block-4 {
    grid-row-gap: 10px;
    align-items: center;
}
}
.div-block-4 {
    width: 100%;
    grid-row-gap: 20px;
    flex-direction: column;
    flex: 0 auto;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}
@media screen and (max-width: 991px){
.subsection-h1-title.dark.center {
    text-align: center;
    align-self: center;
}
}
.subsection-h1-title.dark.center {
    text-align: left;
    align-self: flex-start;
}
.subsection-content-p.small-white {
    color: var(--white);
    font-size: 12px;
}
@media screen and (max-width: 767px){
.body-section-container.bg {
    padding-bottom: 40px;
}
}

.body-section-container.bg {
    background-color: var(--background);
    margin-top: 0;
}
@media screen and (max-width: 767px){
.body-section-container {
    padding-top: 40px;
    padding-bottom: 40px;
}
}
.body-section-container {
    font-family: Noto Sans Mono, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding-top: 70px;
    padding-bottom: 70px;
    display: block;
}
@media screen and (max-width: 767px){
.body-section-container-child {
    padding-left: 40px;
    padding-right: 40px;
}
}
@media screen and (max-width: 991px){
.body-section-container-child {
    overflow: hidden;
}
}
.body-section-container-child {
    max-width: 1340px;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
}
.section-title-component {
    flex: 0 auto;
    align-items: center;
    display: flex;
}
@media screen and (max-width: 767px){
.section-title-symbol.sub-section.symbol, .section-title-symbol.sub-section.symbol.dark {
    padding-left: 15px;
    font-size: 20px;
}
}
.section-title-symbol.sub-section.symbol.dark {
    background-color: rgba(0, 0, 0, 0);
    font-size: 36px;
}
.section-title-symbol.sub-section.symbol {
    color: var(--sef_primary);
    padding-right: 0;
}
.section-title-symbol.sub-section {
    text-transform: none;
    margin-bottom: 0;
}
.section-title-symbol {
    background-color: var(--black);
    color: var(--white);
    text-align: right;
    text-transform: uppercase;
    column-count: auto;
    margin-bottom: 10px;
    padding: 20px 20px;
    font-size: 28px;
    font-weight: 900;
}
@media screen and (max-width: 767px){
.section-title-title.sub-section.dark {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
}
}
.section-title-title.sub-section.dark {
   
    color: var(--black);
    font-weight: 900;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
}
@media screen and (max-width: 767px){
.circcle-iccons-wrapper {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}
}
.circcle-iccons-wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: auto;
    display: flex;
}
.circle-div-icon.black {
    background-color: var(--black);
    margin-left: auto;
}

@media screen and (max-width: 767px){
.circle-div-icon {
    width: 20px;
    height: 20px;
}
}
.circle-div-icon {
    width: 24px;
    height: 24px;
    background-color: var(--light_grey);
    border-radius: 20px;
}
.circle-div-icon.primary {
    background-color: var(--sef_primary);
}

@media screen and (max-width: 991px){
.body-section-content-wrapper.youtube-warpper {
    min-height: auto;
}
}
.body-section-content-wrapper.youtube-warpper {
    height: auto;
}
@media screen and (max-width: 767px){
.body-section-content-wrapper {
    margin-top: 40px;
}
}
.body-section-content-wrapper {
    height: 500px;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
    display: flex;
}
@media screen and (max-width: 767px){
.youtube-video {
    border-width: 10px;
}
}

.youtube-video {
    border: 15px solid var(--sef_primary);
    object-fit: fill;
    border-radius: 20px;
}
.ytp-embed:not(.ad-showing) .ytp-title-text {
    padding-top: 21px;
}
:not(.ytp-shorts-mode).ytp-title-enable-channel-logo .ytp-title-text {
    padding-left: 50px;
}
.ytp-title-text {
    vertical-align: top;
    max-width: 100%;
    padding-top: 12px;
    font-size: 18px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}

.html5-video-player {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    outline: 0;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    color: #eee;
    text-align: left;
    direction: ltr;
    font-size: 11px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
    -ms-high-contrast-adjust: none;
}
@media screen and (max-width: 767px){
.youtube-video {
    border-width: 10px;
}
}
.w-embed-youtubevideo {
    width: 100%;
    background-color: #232323;
    background-position: 50%;
    background-size: cover;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin: 0 5%;
}
.w-embed-youtubevideo iframe{
    position: relative;
    left:0;
    top:0;
    width:100%;
    height:700px;
    pointer-events:auto
}
@media screen and (max-width: 767px){
.grid.milestones {
    display: flex;
}
}
@media screen and (max-width: 991px){
.grid.milestones {
    display: flex;
}
}




.milestone-container.big {
    align-items: flex-start;
    padding: 60px 70px;
}

@media screen and (max-width: 767px){
.milestone-container {
    grid-row-gap: 10px;
    padding: 30px;
}
}

.milestone-title {
    color: var(--black);
    text-align: center;
    font-size: 120px;
    font-weight: 900;
}


.milestone-percentage-left {
    font-weight: 900;
    font-size: 28px;
    color: var(--black);
    text-align: left;
}
@media screen and (max-width: 991px){
    .milestone-percentage {
    font-size: 16px;
}
}
@media screen and (max-width: 767px){
.section-title-title.sub-section.dark {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
}
.section-title-title.sub-section.dark {
    color: var(--black);
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
}
@media screen and (max-width: 767px){
.section-title-title.sub-section {
    font-size: 20px;
}
}
.grid {
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    flex: 1;
    order: 0;
    grid-template-rows: auto;
    grid-template-areas: ".";
    align-self: stretch;
    display: flex;
}

.section-title-title.sub-section {
    text-transform: none;
    margin-bottom: 0;
}
.section-title-title {
    background-color: var(--black);
    color: var(--white);
    text-align: right;
    text-transform: uppercase;
    column-count: auto;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 24px;
    font-weight: 900;
}

.milestone-percentage {
    color: var(--grey);
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
}
.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.cell {
    grid-column-gap:20px ;
    grid-row-gap:20px ;
    display: flex;
    flex-direction: row;
   
    align-items: center;
}
@media screen and (max-width: 479px){
.grid.milestones, .cell {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
}
.rich-text-content-tab.subsection-content-p.dark {
    color: var(--black);
}

.rich-text-content-tab.subsection-content-p {
    color: var(--light_grey);
}
.rich-text-content-tab.dark {
    color: var(--black);
}
.rich-text-content-tab {
    color: var(--white);
    align-self: stretch;
    font-size: 14px;
    line-height: 1.5;
}
.subsection-content-p {
    color: var(--grey);
    text-align: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.4;
}
.milestone-percentage.small {
    color: var(--black);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.milestone-title.small {
    color: var(--black);
    font-size: 64px;
}

@media screen and (max-width: 767px){
.milestone-container.small.higher {
    padding: 30px 20px;
}
}
.milestone-container.small.higher {
    align-items: flex-start;
    padding: 40px;
}
.milestone-container.small {
    flex: auto;
}
@media screen and (max-width: 467px){
.milestone-container {
    grid-row-gap: 10px;
    padding: 30px;
}
}
.milestone-container {
    grid-row-gap: 20px;
    background-color: var(--background);
    border-radius: 20px;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    display: flex;
}

